<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>
		<%= typeof title != 'undefined' ? title : 'Cooking blog - made with Node.js' %>
	</title>
	<link href="/css/bootstrap.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
	<div class="container-xl px-md-5 bg-white shadow-lg">
		<header class="d-flex flex-wrap aling-items-center justify-content-around py-3 mb-4 border-bottom">

			<a href="/" class="d-flex align-items-center col-md-auto mb-2 mb-md-0 text-dark text-decoration-none ">
				<img src="/img/logo.svg" width="229" height="68" alt="Cooking Blog -Made with Node.js">
			</a>

			<div class="col-md-auto pt-1">
				<script>
					console.log("<%= loginState %>")
				</script>
				<% if(loginState){ %>
				<a href="/login" class="text-decoration-none">
					<button class="btn btn-outline-success my-2 my-sm-0 " type="button">Login</button>
				</a>
				<% }else{ %>
				<a href="/logout" class="text-decoration-none">
					<button class="btn btn-outline-danger my-2 my-sm-0" type="button">logout</button>
				</a>
				<% } %>
			</div>

			<ul class="nav col-12 col-lg-auto mb-2 justify-content-center mb-md-0">
				<li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
				<li><a href="/about" class="nav-link px-2 link-secondary">About</a></li>
				<li><a href="/submit-recipe" class="nav-link px-2 link-secondary">Submit</a></li>
				<li><a href="/contact" class="nav-link px-2 link-secondary">Contact</a></li>
			</ul>

			<div class="col-12 col-lg-3 text-end">
				<form method="GET" action="/search">
					<input type="search" name="searchTerm" class="form-control" placeholder="Search ..." aria-label="Search">
				</form>
			</div>
		</header>

		<main>
			<%- body %>
		</main>

		<footer class="py-5 my-4">
			<ul class="nav justify-content-center border-bottom pb-3 mb-3">
				<li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
				<li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
				<li class="nav-item"><a href="/submit-recipe" class="nav-link px-2 text-muted">Submit Recipe</a></li>
				<li class="nav-item"><a href="/submit-category" class="nav-link px-2 text-muted">Submit Category</a></li>
				<li class="nav-item"><a href="/contact" class="nav-link px-2 text-muted">Contact</a></li>
			</ul>
			<p class="text-center text-muted">© Build by mh-Binabaji</p>
		</footer>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

	<script src="/js/script.js"></script>
</body>

</html>